<%= form_for @song do |f| %>
    <%= f.label "Title" %><br>
    <%= f.text_field :title%><br>
    <%= f.label "Artist Name" %><br>
    <%= f.text_field :artist_name%><br>
    <%= f.label "Genre" %><br>
    <%= f.text_field :genre%><br>
    <%= f.label "Year Released" %><br>
    <%= f.number_field :release_year%><br>
    <%= f.label :released %><br>
    <%= f.check_box :released %></p>
<% end %>
